---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

Afina, Y., Buchser, M., Krasodomski, A., Rowe, J., Sun, N., & Wilkinson, R. (2024, January 8). "Towards a global approach to digital platform regulation: Preserving openness amid the push for internet sovereignty." Chatham House. Available at: https://www.chathamhouse.org/2024/01/towards-global-approach-digital-platform-regulation 
Rowe, J. (2023, March 22). "GPD inputs to Ofcom’s call for evidence on protecting children from legal content that is harmful to them." Global Partners Digital. Available at: https://www.gp-digital.org/news/gpd-inputs-to-ofcoms- call-for-evidence-on-protecting-children-from-legal-content-that-is-harmful-to-them/ 
Rowe, J., Andere, B., and Anthonio, F. (2023, March 9). "Evading Accountability Through Internet Shutdowns: Trends in Africa and the Middle East." Global Partners Digital & Access Now. Available at: https://www.gp-digital.org/ publication/evading-accountability-through-internet-shutdowns-trends-in-africa-and-the-middle-east/ 
Rowe, J. (2023, March 1). "GPD calls on UK government not to expand criminal liability for social media managers in Online Safety Bill." Global Partners Digital. Available at: https://www.gp-digital.org/news/gpd-calls-on-uk- government-not-to-expand-criminal-liability-for-social-media-managers-in-online-safety-bill/

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



